__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/
.env
.env.example
.git
.gitignore
Dockerfile*
.DS_Store
.idea/
.vscode/
.ruff_cache/
.pytest_cache/
alembic/versions/*.pyc
uploads/
